{% extends 'base.html.twig' %}

{% block title %}
    Mon profil | Rapide & Gourmand
{% endblock %}

{% block body %}

    {{ include('components/profile/_header.html.twig') }}

    <section class="profile">

        <div class="container">

            {{ include('components/profile/_card.html.twig') }}

        </div>

    </section>

{% endblock %}