<footer class="py-4 mt-auto">

    <div class="container text-center">

        <p class="mb-1">
            © {{ "now"|date("Y") }} Rapide & Gourmand
        </p>

        <p class="mb-0">
            Tous droits réservés.
        </p>

    </div>

</footer>