<section class="reviews">

	<div class="container">

		<h2 class="reviews-title">
			Ils ont fait confiance à Rapide & Gourmand
		</h2>


		<div
			id="home-reviews-container"
			class="reviews-grid"
		>
		</div>


	</div>

</section>


<template id="home-review-card-template">

	<article class="review-card">

		<h3 class="review-author"></h3>

		<div class="review-stars"></div>

		<p class="review-content"></p>

	</article>

</template>