<aside class="cart-summary card">

    <div class="card-body">

        <h2 class="h4 mb-4">
            Récapitulatif
        </h2>

        <div id="cart-summary-content">

            <p class="text-muted mb-0">
                Votre panier est vide.
            </p>

        </div>

    </div>

</aside>