{% extends 'base.html.twig' %}

{% block title %}
    Avis clients
{% endblock %}

{% block body %}

<section class="container py-5">

    <h1 class="mb-5">
        Avis clients
    </h1>

    <div
        id="reviews-container"
        class="row g-4"
    >
    </div>

</section>

{% endblock %}