<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
</head>

<body>

    <h2>Nouveau message de contact</h2>

    <p>
        <strong>Titre :</strong><br>
        {{ title }}
    </p>

    <p>
        <strong>Adresse e-mail :</strong><br>
        {{ senderEmail }}
    </p>

    <p>
        <strong>Message :</strong>
    </p>

    <p>
        {{ description|nl2br }}
    </p>

</body>

</html>