<div class="card mb-3 shadow-sm">

    <div class="card-body">

        <h3 class="h5 mb-3">
            {{ title }}
        </h3>

        <p class="mb-2">
            {{ description }}
        </p>

        <p class="mb-0">

            <strong>Allergènes :</strong>

            {{ allergens }}

        </p>

    </div>

</div>