<section class="menu-gallery">

    <div class="card shadow-sm">

        <img
            id="menu-main-picture"
            src="https://placehold.co/1200x700"
            alt="Image du menu"
            class="img-fluid rounded-top"
        >

        <div class="card-body">

            <div class="row g-3">

                <div class="col-4">

                    <img
                        src="https://placehold.co/400x250"
                        alt="Aperçu du menu"
                        class="img-fluid rounded"
                    >

                </div>

                <div class="col-4">

                    <img
                        class="menu-thumbnail img-fluid rounded"
                        src="https://placehold.co/400x250"
                        alt="Miniature du menu"
                    >

                </div>

                <div class="col-4">

                    <img
                        class="menu-thumbnail img-fluid rounded"
                        src="https://placehold.co/400x250"
                        alt="Miniature du menu"
                    >

                </div>

            </div>

        </div>

    </div>

</section>