<section class="menu-gallery">

    <div class="card shadow-sm">

        <img
            id="menu-main-picture"
            src=""
            alt=""
            class="card-img-top"
        >

        <div class="card-body">

            <div
                id="menu-gallery-thumbnails"
                class="row g-2"
            ></div>

        </div>

    </div>

</section>

<template id="gallery-thumbnail-template">

    <div class="col-3">

        <img
            class="menu-thumbnail img-fluid rounded"
            src=""
            alt=""
        >

    </div>

</template>