<section class="mb-4">

    <h1
        id="menu-title"
        class="display-5"
    >
        Chargement...
    </h1>

    <p
        id="menu-description"
        class="lead mb-0"
    >
        Chargement...
    </p>

</section>