<section class="menu-information">

    <div class="card shadow-sm">

        <div class="card-body">

            <div class="row h-100">

                {# Colonne de gauche #}
                <div class="col-lg-6">

                    <div class="info-item">

                        <h3>
                            Thème
                        </h3>

                        <p id="menu-theme">
                            -
                        </p>

                    </div>

                    <div class="info-item">

                        <h3>
                            Nombre minimum de personnes
                        </h3>

                        <p id="menu-min-guests">
                            -
                        </p>

                    </div>

                    <div class="info-item">

                        <h3>
                            Prix par personne
                        </h3>

                        <p id="menu-price">
                            -
                        </p>

                    </div>

                    <div class="info-item">

                        <h3>
                            Stock disponible
                        </h3>

                        <p id="menu-stock">
                            -
                        </p>

                    </div>

                </div>

                {# Colonne de droite #}
                <div class="col-lg-6 information-right">

                    <div class="info-item">

                        <h3>
                            Régime alimentaire
                        </h3>

                        <p id="menu-diets">
                            -
                        </p>

                    </div>

                    <div class="info-item">

                        <h3>
                            Conditions particulières
                        </h3>

                        <p id="menu-conditions">
                            -
                        </p>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>