<section class="menu-header">

    <div class="container">

        <h1>Les menus Rapide & Gourmand</h1>

        <p>
            Voici notre sélection de menus du moment pour vos évènements
        </p>

    </div>

</section>