<section class="menu-header">

    <div class="container">

        <h1 id="menu-title">
            Chargement...
        </h1>

        <p id="menu-description">
            Chargement...
        </p>

    </div>

</section>