<section class="menu-header">

    <div class="container">

        <h1>
            Nos menus
        </h1>

        <p>
            Découvrez notre sélection de menus conçus pour tous vos événements.
        </p>

    </div>

</section>