<section class="menu-layout">
	<div class="container">

		<div class="menu-content">

			{{ include('components/menu/_menu_grid.html.twig', {
                menus: menus
            }) }}

			<form method="get" action="{{ path('menu_index') }}" data-turbo="false">

				{{ include('components/menu/_filters.html.twig', {
                    themes: themes,
                    diets: diets,
                    guestNumberRange: guestNumberRange,
                    priceRange: priceRange,
                    filters: filters
                }) }}

			</form>

		</div>

	</div>
</section>
