<article class="menu-card">
    <h2>{{ menu.title }}</h2>

    <p>{{ menu.description }}</p>

    <p>
        À partir de {{ menu.price }} €
        • {{ menu.minimumGuestNumber }} personne(s) minimum
    </p>
</article>