{% extends 'base.html.twig' %}

{% block title %}
    Conditions générales de vente
{% endblock %}

{% block body %}

<div class="container py-5">

    <h1 class="mb-4">
        Conditions générales de vente
    </h1>

    {{ site_infos.terms_and_conditions|default('')|raw }}

</div>

{% endblock %}