{% extends 'base.html.twig' %}

{% block title %}
    Commander | Rapide & Gourmand
{% endblock %}

{% block body %}

<section class="py-5">

    <div class="container">

        <h1 class="mb-5">
            Finaliser votre commande
        </h1>

        <div class="row g-4">

            <div class="col-lg-8">

                {{ include('components/order/_form.html.twig') }}

            </div>

            <div class="col-lg-4">

                {{ include('components/order/_summary.html.twig') }}

            </div>

        </div>

    </div>

</section>

{% endblock %}