{% extends 'employee/base.html.twig' %}

{% block title %}
Modifier un menu
{% endblock %}

{% block body %}

<div
    class="container py-4"
    id="menu-edit-page"
    data-menu-id="{{ menuId }}"
>

    <h1 class="mb-4">
        Modifier un menu
    </h1>

    {% include 'employee/components/_menu_form.html.twig' %}

</div>

{% endblock %}